body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #3498db, #c97575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

h1 {
    color: #e42f2f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

ul {
    list-style-type: none;
    padding: 0;
  }

.post-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(155, 54, 54, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
  }

h2 {
    color: #0b0e12;
  }

a {
    text-decoration: none;
    color: #090c0f;
    font-weight: bold;
  }

.content-snippet {
    color: #070404;
    margin-top: 10px;
  }

.add-post-button {
    margin-bottom: 20px;
  }

  
form {
    width: 80%;
    max-width: 600px;
  }
  
label {
    display: block;
    margin-bottom: 8px;
    color: #080f16;
  }
  
input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0056b3;
  }

form button {
    font-size: 12px;
    padding: 5px 10px;
  }